<header>
    <div id="video" class="homepage-hero-module">
        <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
                <source src="app/videos/The-Boulevard.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
        </div>
    </div>
    <br>
    <br class="hide-on-med-and-up">
    <div id="countdown">
        <h4 class="center white-text">Termina en</h4>
        <div id="clock"></div>
        <div id="units">
            <span>Días</span>
            <span>Hrs</span>
            <span>Min</span>
            <span>Seg</span>
        </div>
    </div>
    <br>
</header>

<!--bases-->
<section class="container">
    <br>
    <article class="row">
        <div class="col s12 m12 l12">
            <div class="card horizontal hide-on-med-and-down">
                <div class="card-image">
                    <img src="app/images/header.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content row">
                        <p class="col s12">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Architecto eveniet modi molestiae nostrum officiis porro quos?
                            Delectus dolorum eaque laboriosam laborum laudantium perspiciatis possimus
                            sed voluptas? Ex hic maiores recusandae!</p>
                    </div>
                    <div class="card-action center">
                        <button class="bases btn white green-text">Bases</button>
                    </div>
                </div>
            </div>
            <div class="card hide-on-large-only">
                <div class="card-image">
                    <img src="app/images/header.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content row">
                        <p class="col s12">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Architecto eveniet modi molestiae nostrum officiis porro quos?
                            Delectus dolorum eaque laboriosam laborum laudantium perspiciatis possimus
                            sed voluptas? Ex hic maiores recusandae!</p>
                    </div>
                    <div class="card-action center">
                        <button class="bases btn white green-text">Bases</button>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
<br>
<br>
<br>
<!--categorias-->
<section>
    <h4>Categorías</h4>
    <article class="row">
        <div class="col s12 m3">
            <div class="card">
                <div class="card-content">
                    <h3>titulo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at delectus doloribus enim
                        et ex explicabo illo magni natus necessitatibus neque, nostrum officiis quae reiciendis rerum
                        sint suscipit temporibus voluptatum.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="app/images/dibujo.jpg">
                    <span class="card-title">Card Title</span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="app/images/dibujo.jpg">
                    <span class="card-title">Card Title</span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="app/images/dibujo.jpg">
                    <span class="card-title">Card Title</span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="app/images/dibujo.jpg">
                    <span class="card-title">Card Title</span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="app/images/dibujo.jpg">
                    <span class="card-title">Card Title</span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="app/images/dibujo.jpg">
                    <span class="card-title">Card Title</span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="app/images/dibujo.jpg">
                    <span class="card-title">Card Title</span>
                </div>
            </div>
        </div>
    </article>
</section>

<!--estadisticas ideaton-->
<section class="red z-depth-1">
    <br>
    <article class="white-text">
        <h2>estadísticas aquí</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi cum debitis dolorem enim facere
            ipsa iusto minima nemo omnis quam, quos repellat sapiente sequi tempore tenetur, voluptates! In, incidunt?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi cum debitis dolorem enim facere
            ipsa iusto minima nemo omnis quam, quos repellat sapiente sequi tempore tenetur, voluptates! In, incidunt?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi cum debitis dolorem enim facere
            ipsa iusto minima nemo omnis quam, quos repellat sapiente sequi tempore tenetur, voluptates! In, incidunt?</p>
    </article>
    <br>
</section>
<!--noticias-->
<section>
    <h2>Noticias</h2>
    <article class="row">
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="app/images/header.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action center">
                    <a class="btn green accent-4" href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="app/images/header.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action center">
                    <a class="btn green accent-4" href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="app/images/header.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action center">
                    <a class="btn green accent-4" href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="app/images/header.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action center">
                    <a class="btn green accent-4" href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="app/images/header.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action center">
                    <a class="btn green accent-4" href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="app/images/header.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action center">
                    <a class="btn green accent-4" href="#">This is a link</a>
                </div>
            </div>
        </div>
    </article>
</section>

<!--redes sociales-->
<section class="teal z-depth-1">
    <br>
    <div class="center">
    <h2 class="white-text">#Ideatón en redes sociales</h2>
        <article class="row">
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="app/images/header.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="app/images/header.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="app/images/header.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="app/images/header.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="app/images/header.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="app/images/header.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <br>
</section>

<!--etapas-->
<section class="cd-horizontal-timeline container">
    <h2>Etapas</h2>
    <div class="timeline">
        <div class="events-wrapper">
            <div class="events">
                <ol>
                    <li><a href="#0" data-date="16/01/2014" class="selected">16 Jan</a></li>
                    <li><a href="#0" data-date="28/02/2014">28 Feb</a></li>
                    <!-- other dates here -->
                </ol>

                <span class="filling-line" aria-hidden="true"></span>
            </div> <!-- .events -->
        </div> <!-- .events-wrapper -->

        <ul class="cd-timeline-navigation">
            <li><a href="#0" class="prev inactive">Prev</a></li>
            <li><a href="#0" class="next">Next</a></li>
        </ul> <!-- .cd-timeline-navigation -->
    </div> <!-- .timeline -->
    <div class="row" ng-if="showTabs">
    <div class="col s12">
        <ul tabs reload="allTabContentLoaded">
            <li class="tab col s3"><a href="#test1">Test 1</a></li>
            <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
            <li class="tab col s3"><a href="#test3">Test 3</a></li>
            <li class="tab col s3"><a href="#test4">Test 4</a></li>
        </ul>
    </div>
    <div id="test1" class="col s12">Test 1</div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
</div>
    <div class="events-content">
        <ol>
            <li class="selected" data-date="16/01/2014">
                <h2>Horizontal Timeline</h2>
                <em>January 16th, 2014</em>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                </p>
            </li>

            <li data-date="28/02/2014">
                <!-- event description here -->
            </li>

            <!-- other descriptions here -->
        </ol>
    </div> <!-- .events-content -->
</section>
